NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SHARE_BASE_URL=https://befood.fr
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/fr/app/befood/id6757001850
NEXT_PUBLIC_SUPPORT_URL=https://befood.fr/aide
NEXT_PUBLIC_APP_DEEP_LINK_BASE=befood://join
NEXT_PUBLIC_GA4_MEASUREMENT_ID=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
POSTHOG_HOST=
POSTHOG_PROJECT_ID=
POSTHOG_PERSONAL_API_KEY=
GA4_PROPERTY_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_CLOUD_PROJECT_ID=
GA4_API_ADMIN_TOKEN=
